@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255,255,255;
  --background-rgb: 0,3,11;
  --header-background-rgb: 50,72,243;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0,3,11;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(var(--background-rgb));
  font-family: Chakra Petch, sans-serif !important;
}

.header {
  @apply md:h-[56px] h-[50px] bg-[rgba(var(--header-background-rgb))] md:w-[460px] w-[260px]  max-w-full mx-auto uppercase flex items-center justify-center;
}

.header-triangle {
  @apply absolute w-0 h-0;
}
.header-triangle-left {
  @apply header-triangle md:-left-[56px] -left-[50px] top-0 md:border-r-[56px] md:border-b-[56px] border-r-[50px] border-b-[50px];
  border-color: transparent rgba(var(--header-background-rgb)) transparent transparent;
}

.header-triangle-right {
  @apply header-triangle md:-right-[56px] -right-[50px] top-0 md:border-t-[56px] md:border-r-[56px] border-t-[50px] border-r-[50px];
  border-color: rgba(var(--header-background-rgb)) transparent transparent transparent;
}

.footer {
  @apply md:h-[50px] h-[40px] bg-[rgba(var(--header-background-rgb))] md:w-[220px] w-[100px] max-w-full mx-auto flex items-center justify-center;
}

.footer-triangle-left {
  @apply header-triangle md:border-b-[42px] md:border-l-[48px] border-b-[40px] border-l-[40px] md:-left-[48px] -left-[40px] -top-[3px];
  border-color: transparent transparent rgba(var(--header-background-rgb)) transparent;
}

.footer-triangle-right {
  @apply header-triangle md:-right-[42px] -right-[40px] md:border-t-[42px] md:border-l-[42px] border-t-[40px] border-l-[40px] -top-[3px];
  border-color:  transparent transparent transparent rgba(var(--header-background-rgb));
}

.logo-shadow {
  text-shadow: 0 0 100px #596AFF;
}

.vertical-tb {
  writing-mode: vertical-rl;
}

.title-shadow {
  /*text-shadow: 1px 1px 1px #596AFF;*/
  -webkit-text-stroke: 1px #596AFF;
}

.primary-shadow {
  -webkit-text-stroke: 1px #E84834;
}
